body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(3) {
  padding-top: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

// .title {
//   color: var(--title-text-color);
// }

.section-title {
  margin-bottom: 50px;

  text-align: center;
  @include font(700, 36px, 1.17, null);
}

.hero,
.footer {
  background-color: #2f303a;
}

.connect,
.footer-contacts {
  transition-property: color;
  @extend %transitions;
}

.connect:hover,
.connect:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.masters-soc-list,
.footer-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item,
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.masters-soc-item:first-child,
.footer-soc-item:first-child {
  margin-left: 0;
}

.masters-soc-link,
.footer-soc-link {
  @extend %flex-centered;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
